/*
font-family: 'Chelsea Market', cursive;
font-family: 'Roboto Mono', monospace;
*/

body {
    margin:0;
    padding: 0;
}

.container {
    width: 750px;
    margin: 0 auto;
}

nav a {
    display: inline-block;
    border-radius: 10px;
    font-size: 25px;
    background-color: #5ED3EB;
    padding: 12px 3%;
    width: 200px;
    height: 40px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: white;
    vertical-align: middle;
}
nav a:first-child {
    background-color: #FF764E;
    padding: 12px 3%;
    margin: 0;
}
nav a:last-child {
    background-color: #FFCD69;
    margin: 0;
} /*ilk ve sonu en sağa ve sola dayadık, ortadakine eklemiş olduk*/

main img {
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
    
}
main, header {
    padding: 50px 0;
}

main div {
    display: inline-block;
    vertical-align: top;
    width: 550px;
}
h1 {
    display: inline-block;
    margin: 18px;
    text-align: center;
    font-family: 'Chelsea Market', cursive;
    font-size: 30px;

}

main p {
    margin:8px 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
}

.description {
    background-color:  #ddb9a3;
    color: #f9e7dc;
    padding: 20px;
}

.features img{
    display: block;
    width: 20%;
    margin: 20px auto;
    
}

.features span{
    font-weight: bold;
}

.feature {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

footer {
    background-color: #F9E7DC;
}

footer div{
    height: 150px;
    width: 100%;
    background-image: url("assets/footer_img.jpg");
    background-size: cover;
}











/*
header nav a:first-child {
    
    margin: 10px;
    font-size: 40px;
    color: #FF764E;
    text-decoration: underline;
}
header nav a:nth-child(2){
    margin: 10px;
    font-size: 40px;
    color: #5ED3EB;
    text-decoration: underline;
}
header nav a:nth-child(3){
    margin: 10px;
    font-size: 40px;
    color: #FFCD69;
    text-decoration: underline;
}
*/